body{
    background-color: black;
    padding-right:200px;
    padding-left:200px;
}
h1{
    color: white;
    font-family:roboto,sans-serif;
    text-align: center;
    
}
h2{
    color: white;
    font-family:roboto,sans-serif;
    text-align: center;
}
p{
    color: white;
    font-family:roboto,sans-serif;
    text-align: center;
}
